<%
if (page.menu_id == undefined) {
  page.menu_id = 'post';
}
if (page.header == undefined) {
  page.header = false;
}
function layoutTitle() {
  const title = page.h1 || page.title;
  if (title && title.length > 0) {
    return '<h1 class="article-title"><span>' + title + '</span></h1>';
  } else {
    return '';
  }
}
%>
<% let post = page; %>
<%- partial('_partial/main/navbar/breadcrumb') %>
<article class='content md <%- post.layout %><%- scrollreveal() %>'>
<%- layoutTitle() %>
<span class="post-time">
  <span class="post-meta-item-icon">
    <i class="fa fa-calendar-o"></i>
  </span>
  <span class="post-meta-item-text">字数统计:</span>
  <span class="post-count"><%= wordcount(post.content) %>字</span>
</span>
<span class="post-time">
&nbsp; | &nbsp;
  <span class="post-meta-item-icon">
    <i class="fa fa-calendar-o"></i>
  </span>
  <span class="post-meta-item-text">阅读时长:</span>
  <span class="post-count"><%= min2read(post.content) %>分</span>
</span>
<script>gtime_days = Math.floor((new Date() - new Date('<%= page.updated %>')) / 1000 / 60 / 60 / 24);</script>
<div class="old-message" id='gtime_days'></div>
<%- post.content %>
<%- partial('_partial/main/article/article_footer') %>
</article>
<%- partial('_partial/main/article/read_next') %>
<%- partial('_partial/main/article/related_posts') %>
<%- partial('_partial/plugins/comments/layout') %>
